# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Go agent build
agent/bin/
